@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.b1 {
    font-family: 'Montserrat', sans-serif;
}

.pimg1, .pimg2, .pimg3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1 {
    background-image: url('../../assets/wall46.png');
    min-height: 600px;
}
.pimg2 {
    background-image: url('../../assets/wall38.png');
    min-height: 400px;
}
.pimg3 {
    background-image: url('../../assets/wall41.jpg');
    min-height: 400px;
}

/* ---------------------------------------------------------------------------------------------- */
 

.td {
    height: 100vh;
    background-image: linear-gradient(to bottom, white, #f2ffed, #c0ec83);
    font-size: 4rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.tdimg {
    height: 70vh;
    border-radius: 50%;
    box-shadow: 20px 20px 50px grey, -20px -20px 50px grey;
    cursor: pointer;
}


/* ---------------------------------------------------------------------------------------------- */


.section {
    background-color: #a7e074;
    padding: 50px 80px;
}
.section-header {
    text-align: center;
    font-size: 3rem;
}

@media screen and (max-width: 500px) {
    .tdimg {
        height: 40vh;
        transition: all 0.5s ease;
    }
}