.navbar {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    margin-left: 20px;
    flex-grow: 1;
}

.list-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style: none;
}

.item {
    padding: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.item:hover {
    background-color: beige;
    border-radius: 5px;
    color: black;
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 900px) {


    .navbar {
        width: 100%;
    }

    .list-items {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -50%;
    }
    
    .list-items.active {
        background-color: lightblue;
        top: 64px;
        opacity: 1;
        z-index: 1;
        transition: all 0.5s ease;
    }
}